
.form-control{
    width: 100%;
    height: auto;
   
    border-top: 1px solid white;
    border-right: 1px dotted white;   
    border-bottom: 1px dashed white;
    border-left: 1px double white;
}
.imagen_lugar{
    height: 350px;
}
#map {
    width: 100%;
    height: 300px;
  }