
#headerTitle{
    text-align: center;
    font-weight:bold;
    align-self: center;
    margin:auto
}

ion-card-header{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.avatar{
    margin:auto

}
.button{
    width: 50fr;
}