<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title id="headerTitle">Gestiona los <br>sitios turísiticos</ion-title>
    <ion-button color="primary" [routerLink]="['/profile',uidUser]" slot="start" fill="clear">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>

    <ion-button (click)='logout()' color="danger" [routerLink]="['/login']" slot="end" fill="clear">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor=" let lugares of todosloslugaresTuristicos">
    <ion-card-header>
      <ion-avatar class="avatar" expand="block">
        <img [src]="lugares.Imagen" />

      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{lugares.Nombre}}</ion-card-title>
      <h4>{{lugares.Lugar}}-Ecuador</h4>

    </ion-card-content>
    <ion-button color="danger" fill="outline" size="small" class="button" expand="block" (click)="eliminarLugar(lugares)">Eliminar
      Sitio Turistico
    </ion-button>
  </ion-card>
</ion-content>