<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title id="headerTitle">Gestiona tus <br>lugares turísticos</ion-title>
    <ion-button color="primary" [routerLink]="['/profile',uidUser]" slot="start" fill="clear">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>

    <ion-button (click)='logout()' color="danger" [routerLink]="['/login']" slot="end" fill="clear">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor=" let lugares of todosloslugaresTuristicos">
    <ion-card-header>
      <ion-avatar class="avatar">
        <img [src]="lugares.Imagen" />
        
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{lugares.Nombre}}</ion-card-title>
      <h3>{{lugares.Lugar}}-Ecuador</h3>

    </ion-card-content>
    <ion-button color="primary" fill="outline" size="small" class="button" expand="block"
      routerLink="/detalles-Lugares-Turisticos/{{lugares.id}}">Detalles
    </ion-button>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/geolocalizacion']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>