// ion-title{
//     font-size: 30px;
//     padding-top: 2rem;
//     text-align: center;
// }


#headerTitle{
   
    text-align: center;
    font-weight:bold;
}
.avatar{
    // align-self: center;
    // margin-left:4rem
    margin:auto
}