<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background-image"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rol: {{rol}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="image">

        <ion-img [src]="urlImg" ></ion-img>
      </div>
      <br>
      Usuario: {{name}}
      <br>
      Correo: {{mail}}
    </ion-card-content>
    <ion-button expand='block' color="secondary" [routerLink]="['/useredit',uid]">Modificar perfil</ion-button>
    <ion-button expand='block' color="primary" (click)="dashboard()">Dashboard</ion-button>
    
  </ion-card>
</ion-content>
